<!--与我相关-->

<div class="m_bottom" >
						<div class="padder">      
							<div class="streamline b-l b-info m-l-lg m-b padder-v">
						
							  <!-- 第一条与我相关信息 -->
							 <div>
								<a class="pull-left thumb-sm avatar m-l-n-md">
								  <img src="images/a0.jpg" alt="...">
								</a>          
								<div class="m-l-lg m-b-lg panel b-a bg-light lt">
								  <div class="panel-heading pos-rlt b-light">
									<span class="arrow arrow-light left"></span>                    
									<a href="">别无所求</a>
									<span class="text-muted m-l-sm pull-right">
									  1h ago
									</span>
								  </div>
								  <div class="panel-body">
									<div>我只是从这里路过……</div>
								  </div>
								</div>
							  </div>
							  <!-- / .comment-reply -->	
							</div>
						  </div>
                          <div class="padder">      
							<div class="streamline b-l b-info m-l-lg m-b padder-v">
						
							  <!-- 第二条与我相关信息-->
							 <div>
								<a class="pull-left thumb-sm avatar m-l-n-md">
								  <img src="images/a0.jpg" alt="...">
								</a>          
								<div class="m-l-lg m-b-lg panel b-a bg-light lt">
								  <div class="panel-heading pos-rlt b-light">
									<span class="arrow arrow-light left"></span>                    
									<a href="">别无所求</a>
									<span class="text-muted m-l-sm pull-right">
									  1h ago
									</span>
								  </div>
								  <div class="panel-body">
									<div>我从这里路过第二次……</div>
								  </div>
								</div>
							  </div>
							  <!-- / .comment-reply -->
							</div>
						  </div>
					</div>